@import "tailwindcss";

html , body{
  overflow: hidden;
}
@theme {
  --color-indigo: #1A0B2E; 
  --color-dark: #0D0D0F; 


  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #FF0000;
  --color-neutral: #6b7280;

 
}