@import "tailwindcss";

html , body{
  overflow: hidden;
}
@theme {
  --color-primary: #0f172a; 
  --color-secondary: #94a3b8; 
  --color-accent: #14b8a6; 
  --color-dark: #3b82f6; 


  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-neutral: #6b7280;

  --color-background: #f9fafb;
  --color-border: #e5e7eb;
  --color-paper: #ffffff;
}